/* #region Base styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #434455;
}
/* #endregion Base styles*/

/* #region header */

.header {
  padding: 24px;
}
.header > .container {
  display: flex;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-part {
  margin-right: 76px;
  color: #2e2f42;
}

.logo,
.logo-part {
  display: inline-flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.contact-information {
  font-style: normal;
  line-height: 1.5;
}

.address-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-information .nav-adress-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-address-link:focus,
.nav-address-link:hover {
  color: #404bbf;
}

/* #endregion header */

/* #region hero seciton */
.hero {
  padding: 188px 0 188px 0;
}

.hero-background {
  background-color: #2e2f42;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107%;
  letter-spacing: 1.12px;
}
.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  border: 1px solid transparent;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* #endregion hero section */

/* #region features section*/
.benefits {
  padding: 120px 0px;
  background-color: #ffffff;
}

.benefits h2 {
  display: none;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100%-72px) / 4);
}

.benefits-text {
  line-height: 150%;
  letter-spacing: 0.02em;
}

.benefits-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

/* #endregion features section*/

/* #region our team */
.team {
  background-color: #f4f4fd;
}

.our-team {
  padding: 120px 0 72px 0;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}

.our-team-box {
  padding: 32px 0 32px;
}

.team-member {
  padding-bottom: 8px;
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.member-position {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team-background {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

/* #endregion our team*/

/* #region portfolio*/
.portfolio {
  background-color: #ffffff;
}
.our-portfolio {
  padding: 120px 0 72px 0;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-title {
  line-height: 150%;
  letter-spacing: 0.02em;
}
.project-name {
  padding-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
/* #endregion portfolio*/

/* #region footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-footer-part {
  color: #f4f4fd;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
}
/* #endregion footer */
